img {
   max-height: 100%;
   display: block;
}

.ms_btn-pill {
   border-radius: 20px;
}

.ms_btn-grey {
   background-color: #363636;
   color: white;
   font-weight: 600;
}

.ms_btn-grey:hover {
   border: 1px solid #363636;
   background-color: white;
   color: #363636;
}


/* - - - HEADER - - - */

   /* Banner logo */

#ms_banner-logo {
   height: 40px;
   background-color: black;
}

#ms_banner-logo .ms_img-wrapper {
   display: block;
   max-height: 100%;
}

#ms_banner-logo .ms_img-wrapper svg {
   fill: white;
}

   /* Navbar */

#ms_navbar {
   background-color: white;
   /* min-height: 70px; */
}

#ms_navbar .shared-nav-ps-logo {
   fill: #0070d1;
}

#ms_navbar .nav-item a {
   color: #1f1f1f;
   font-weight: 600;
}

#ms_navbar .nav-item:hover {
   cursor: pointer;
}

#ms_navbar .nav-item:hover a {
   color: #0070d1;
}

#ms_navbar .nav-item .ms_img-wrapper {
   height: 25px;
   aspect-ratio: 1 / 1;
}


/* - - - MEDIA QUERIES - - - */

/* @media screen and (min-width: 992px) {

} */


/* - - - DEBUG - - - */

body.debug {
   background-color: cadetblue;
}

