img {
   max-height: 100%;
   max-width: 100%;
   display: block;
}

.btn-grey {
   background-color: #363636;
   color: white;
   font-weight: 600;
}

.btn-grey:hover {
   border: 1px solid #363636;
   background-color: white;
   color: #363636;
}

.btn-orange {
   background-color: #CD3D0F;
   color: white;
   font-weight: 600;
}

.btn-orange:hover {
   border: 1px solid #CD3D0F;
   background-color: white;
   color: #CD3D0F;
}

.btn-blue {
   background-color: #0070d1;
   color: white;
   font-weight: 600;
}

.btn-blue:hover {
   border: 1px solid #0070d1;
   background-color: white;
   color: #0070d1;
}

/* - - - HEADER - - - */

   /* Banner logo */

#banner-logo {
   height: 40px;
   background-color: black;
}

#banner-logo .img-wrapper {
   display: block;
   max-height: 100%;
}

#banner-logo .img-wrapper svg {
   fill: white;
}

   /* Navbar */

#navbar {
   background-color: white;
   /* min-height: 70px; */
}

#navbar .shared-nav-ps-logo {
   fill: #0070d1;
}

#navbar .nav-item a {
   color: #1f1f1f;
   font-weight: 600;
   position: relative;
}

#navbar .nav-item:hover {
   cursor: pointer;
}

#navbar .nav-item:hover a, #navbar .nav-item:hover a::before {
   color: #0070d1;
}

#navbar .nav-item > a::before {
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   display: none;
   font-family: "Font Awesome 5 Free";
   color: #858585;
   font-size: 18px;
}

#nav-link_giochi > a::before {
   content: "\f11b";
}

#nav-link_hardware > a::before {
   content: "\f233";
}

#nav-link_servizi > a::before {
   content: "\f108";
}

#nav-link_novità > a::before {
   content: "\f1ea";
}

#nav-link_acquisti > a::before {
   content: "\f291";
}

#nav-link_supporto > a::before {
   content: "\f059";
}

#nav-link_playlist > a::before {
   content: "\f0ca";
}

#navbar .dropdown-toggle {
   position: relative;
}

#navbar .dropdown-toggle::after {
   content: "\f078";
   font-family: "Font Awesome 5 Free";
   font-size: 12px;
   position: absolute;
   top: 55%;
   right: 0;
   transform: translateY(-50%);
   margin-left: 0;
   border: none;
}

#navbar .nav-item .img-wrapper {
   height: 25px;
   aspect-ratio: 1 / 1;
}



/* - - - MAIN - - - */

   /* Game banner */

.game-banner {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: white;
}

.game-banner.game-returnal {
   background-image: url(img/jumbo-bg.png);
}

.game-banner.game-it-takes-two {
   background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

.game-banner .row {
   min-height: 600px;
}

.game-banner .img-wrapper {
   max-width: 280px;
}

.game-banner_title {
   font-size: 40px;
}

   /* Game carousel */

.game-carousel {
   background-color: white;
}

.game-carousel .img-wrapper {
   border-radius: 10px;
   overflow: hidden;
   border: 3px solid transparent;
}

.game-carousel .img-wrapper.active, .game-carousel .img-wrapper:hover {
   cursor: pointer;
   box-shadow: 0 0 0 3px #0070d1;
   border: 3px solid white;
}

   /* Section PS5 */

.ps5 {
   background-color: white;
}

.card {
   border: none;
   background-color: transparent;
   border-radius: 0;
}

.card_subtitle{
   font-size: 14px;
   color: #0070d1;
}

.card_title {
   font-size: 42px;
   color: #272727;
}

.card_desc {
   font-weight: 600;
   color: #9c9c9c;
   margin: 0;
}

.card-carousel .card {
   padding-bottom: 5px;
}

.card-carousel .card .img-wrapper {
   position: relative;
}

.card-carousel .card .img-wrapper::after{
   content: "";
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: white;
   opacity: 0.5;
   z-index: 1;
   transition: opacity 0.3s ease-in-out;
}

.card-carousel .card.active .img-wrapper::after, .card-carousel .card:hover .img-wrapper::after {
   opacity: 0;
}

.card-carousel .card.active {
   border-bottom: 3px solid #0070d1;
}

.card-carousel .card:hover {
   cursor: pointer;
}

   /* Nuove uscite */

.nuove-uscite {
   color: white;
   background-color: #1F1F1F;
}

.nuove-uscite h3 {
   font-size: 32px;
}

.nuove-uscite h4 {
   font-size: 25px;
}

.nuove-uscite .card .img-wrapper {
   border-radius: 20px;
   overflow: hidden;
}

.nuove-uscite .card .img-wrapper:hover {
   transform: scale(1.02);
   cursor: pointer;
}

.nuove-uscite .card_title {
   font-size: 16px;
   color: white;
   margin-bottom: 0;
   cursor: pointer;
}




/* - - - MEDIA QUERIES - - - */

/* Layout M- */
@media screen and (max-width: 991px) {

   #navbar .nav-item {
      min-width: 300px;
   }

   #navbar .nav-item > a {
      padding-left: 50px;
   }

   #navbar .nav-item > a::before {
      display: inline-block;
   }

   #navbar .dropdown-toggle {
      position: relative;
   }

   #navbar .dropdown-toggle::after {
      content: "\f054";
      top: 50%;
      right: 15px;
   }
}

/* Layout M+ */
@media screen and (min-width: 991px) {

   .game-banner .img-wrapper {
      max-width: 400px;
   }
}

/* Layout LG+ */
@media screen and (min-width: 992px) {

  #navbar .dropdown-menu {
      position: fixed;
      border: none;
      border-radius: 0;
      top: 106px;
      left: 0;
      right: 0;
      margin: 0;
   }
}

/* Layout XL+ */
@media screen and (min-width: 1200px) {

   .game-banner .img-wrapper {
      max-width: 220px;
   }
}


/* - - - DEBUG - - - */

body.debug {
   background-color: cadetblue;
}

.debug main {
   height: 300vh;
}

.debug .dropdown-menu {
   background-color: orange;
}

.debug .game-banner .row div {
   /* background-color: red; */
}

.debug .card {
   /* background-color: wheat;
   border: 3px solid black; */
}