figure {
   margin: 0;
}

img {
   max-height: 100%;
   max-width: 100%;
   display: block;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

:root {
   --ms-blue: #0070D1;
   --ms-dark: #363636;
   --ms-dark-hover: #606060;
   --ms-orange: #CD3D0F;
   --ms-light: #D9DADC;
}

/* Bottoni */

[class*="btn-"] {
   font-weight: 600;
}

.ms_btn-dark {
   background-color: var(--ms-dark);
   color: white !important;
}

.ms_btn-dark:hover {
   background-color: var(--ms-dark-hover);
}

.ms_btn-orange {
   background-color: var(--ms-orange);
   color: white !important;
   position: relative;
}

.ms_btn-orange:hover::before {
   content: "";
   display: block;
   position: absolute;
   top: -5px;
   bottom: -5px;
   right: -5px;
   left: -5px;
   border-radius: 50rem;
   border: 2px solid var(--ms-orange);
}

.ms_btn-blue {
   background-color: var(--ms-blue);
   color: white !important;
   position: relative;
}

.ms_btn-blue:hover::before {
   content: "";
   display: block;
   position: absolute;
   top: -5px;
   bottom: -5px;
   right: -5px;
   left: -5px;
   border-radius: 50rem;
   border: 2px solid var(--ms-blue);
}

.ms_btn-light {
   background-color: var(--ms-light);
   color: var(--ms-blue) !important;
   position: relative;
}

.ms_btn-light:hover::before {
   content: "";
   display: block;
   position: absolute;
   top: -5px;
   bottom: -5px;
   right: -5px;
   left: -5px;
   border-radius: 50rem;
   border: 2px solid var(--ms-light);
}

.ms_btn-light-black {
   background-color: var(--ms-light);
   color: var(--ms-dark) !important;
   position: relative;
}

.ms_btn-light-black:hover::before {
   content: "";
   display: block;
   position: absolute;
   top: -5px;
   bottom: -5px;
   right: -5px;
   left: -5px;
   border-radius: 50rem;
   border: 2px solid var(--ms-light);
}



/* - - - HEADER - - - */

   /* Banner logo */

#banner-logo {
   height: 40px;
   background-color: black;
}

#banner-logo figure {
   display: block;
   max-height: 100%;
}

#banner-logo figure svg {
   fill: white;
}

   /* Navbar */

#navbar {
   background-color: white;
   /* min-height: 70px; */
}

#navbar .shared-nav-ps-logo {
   fill: var(--ms-blue);
}

#navbar .nav-item a {
   color: #1f1f1f;
   font-weight: 600;
   position: relative;
}

#navbar .nav-item:hover {
   cursor: pointer;
}

#navbar .nav-item:hover a, #navbar .nav-item:hover a::before {
   color: var(--ms-blue);
}

#navbar .nav-item > a::before {
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   display: none;
   font-family: "Font Awesome 5 Free";
   color: #858585;
   font-size: 18px;
}

#nav-link_giochi > a::before {
   content: "\f11b";
}

#nav-link_hardware > a::before {
   content: "\f233";
}

#nav-link_servizi > a::before {
   content: "\f108";
}

#nav-link_novità > a::before {
   content: "\f1ea";
}

#nav-link_acquisti > a::before {
   content: "\f291";
}

#nav-link_supporto > a::before {
   content: "\f059";
}

#nav-link_playlist > a::before {
   content: "\f0ca";
}

#navbar .dropdown-toggle {
   position: relative;
}

#navbar .dropdown-toggle::after {
   content: "\f078";
   font-family: "Font Awesome 5 Free";
   font-size: 12px;
   position: absolute;
   top: 55%;
   right: 0;
   transform: translateY(-50%);
   margin-left: 0;
   border: none;
}

#navbar .nav-item figure {
   height: 25px;
   aspect-ratio: 1 / 1;
}



/* - - - MAIN - - - */

   /* Game banner */

.game-banner {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: white;
}

#game-banner_returnal {
   background-image: url(img/jumbo-bg.png);
}

#game-banner_it-takes-two {
   background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

.game-banner .row {
   min-height: 600px;
}

.game-banner figure {
   max-width: 280px;
}

.game-banner_title {
   font-size: 40px;
}

   /* Game carousel */

#game-carousel {
   background-color: white;
}

#game-carousel figure {
   border-radius: 10px;
   overflow: hidden;
   border: 3px solid transparent;
   transition: transform 0.15s ease-in;
   position: relative;
}

#game-carousel figure.active, #game-carousel figure:hover {
   cursor: pointer;
   box-shadow: 0 0 0 3px var(--ms-blue);
   border: 3px solid white;
}

#game-carousel figure:hover {
   transform: translateY(-0.5rem);
}

   /* Section PS5 */

.ps5, .ps4 {
   background-color: white;
}

.card {
   border: none;
   background-color: transparent;
   border-radius: 0;
}

.card_subtitle{
   font-size: 14px;
   color: var(--ms-blue);
}

.card_title {
   font-size: 42px;
   color: #272727;
}

.card_desc {
   font-weight: 600;
   color: #9c9c9c;
   margin: 0;
}

.card-carousel .card {
   padding-bottom: 5px;
}

.card-carousel .card figure {
   position: relative;
}

.card-carousel .card figure::after{
   content: "";
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: white;
   opacity: 0.5;
   z-index: 1;
   transition: opacity 0.3s ease-in-out;
}

.card-carousel .card.active figure::after, .card-carousel .card:hover figure::after {
   opacity: 0;
}

.card-carousel .card.active {
   border-bottom: 3px solid var(--ms-blue);
}

.card-carousel .card:hover {
   cursor: pointer;
}

   /* Nuove uscite */

.nuove-uscite {
   color: white;
   background-color: #1F1F1F;
}

.nuove-uscite h3 {
   font-size: 32px;
}

.nuove-uscite h4 {
   font-size: 25px;
}

.nuove-uscite .card figure {
   border-radius: 20px;
   overflow: hidden;
}

.nuove-uscite .card figure:hover {
   transform: scale(1.02);
   cursor: pointer;
}

.nuove-uscite .card_title {
   font-size: 16px;
   color: white;
   margin-bottom: 0;
   cursor: pointer;
}

   /* Playstation Plus */

.playstation-plus {
   background-color: #BEBCBB;
}

figure.title_logo {
   width: 60%;
}

   /* Sconti */

.sconti {
   background-color: white;
}

   /* Playstation Now */

.playstation-now {
   background-color: #161C3B;
}

.playstation-now p {
   color: white;
}

   /* Social */

.social {
   background-color: white;
}

.social h2 {
   font-size: 32px;
}

.social figure {
   transition: all 0.3s ease-in-out;
}

.social figure:hover {
   cursor: pointer;
   transform: scale(1.05);
}

   /* Links */

.links {
   background-color: #00439C;
   color: white;
   fill: white;
}

.links a {
   color: white;
}

.links .language {
   line-height: 18px;
   cursor: pointer;
}

/* - - - MEDIA QUERIES - - - */

/* Layout M- */
@media screen and (max-width: 991px) {

   #navbar .nav-item {
      min-width: 300px;
   }

   #navbar .nav-item > a {
      padding-left: 50px;
   }

   #navbar .nav-item > a::before {
      display: inline-block;
   }

   #navbar .dropdown-toggle {
      position: relative;
   }

   #navbar .dropdown-toggle::after {
      content: "\f054";
      top: 50%;
      right: 15px;
   }
}

/* Layout M+ */
@media screen and (min-width: 991px) {

   .game-banner figure {
      max-width: 400px;
   }

   .social .col {
      max-width: 120px;
   }
}

/* Layout LG+ */
@media screen and (min-width: 992px) {

  #navbar .dropdown-menu {
      position: fixed;
      border: none;
      border-radius: 0;
      top: 106px;
      left: 0;
      right: 0;
      margin: 0;
   }
}

/* Layout XL+ */
@media screen and (min-width: 1200px) {

   .game-banner figure {
      max-width: 220px;
   }
}


/* - - - DEBUG - - - */

.debug .dropdown-menu {
   background-color: orange;
}